.Formlogin {
  font-family: 'Calibri' !important;
  color: gray;
  margin: 0 auto;
}

/* Full-width inputs */
input[type=text],
input[type=password] {
  width: 100%;
  padding: 5px 10px;
  margin: 8px 0;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 25px;
  background-color: #ECF0F1;
  border: 2px solid #D5DBDB;
}

input:focus {
  outline: none;
}

.btnIngresar{
  background-color: #BEA52A !important;
  color: white !important;
}


button:hover,
.btnInvitado:hover {
  opacity: 0.8;
}

.imgcontainer {
  text-align: center;
  padding-top: 10%;
}

img.avatar {
  width: 20%;
  border-radius: 20%;

}

.containerLogin {
  padding-top: 4%;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 10%;
}

.errorSesion{
  margin-top: 40px;
  text-align: center;
}

@media (max-width: 950px) {
 
  div.left-panel {
    margin-top: 20%;
    height: 580px;
  }
  div.login-panel {
    margin-top: 20%;
    height: 580px;
    box-sizing: border-box;
  }
  h1.tit {
    font-size: 20px;
  }

}

@media (max-width: 830px) {
  .left-panel {
    display: none;
  }
  div.login-panel {
    margin-top: 25%;
    float: center;
    width: 100%;
    height: 580px;
    box-sizing: border-box;
  }
  h1.tit {
    font-size: 20px;
  }
 
}

@media (max-width: 550px) {
  .left-panel {
    display: none;
  }
  div.login-panel {
    margin-top: 15%;
    float: center;
    width: 100%;
    height: 580px;
    box-sizing: border-box;
  }
  h1.tit {
    font-size: 20px;
  }
 
}


@media (max-width: 400px) {
    .left-panel {
      display: none;
    }
    div.login-panel {
      margin-top: 10%;
      float: center;
      width: 100%;
      height: 580px;
      box-sizing: border-box;
    }
    h1.tit {
      font-size: 20px;
    }   
}

