input[type="text"], input[type="password"] {
    padding: 5px 20px;
    background-color: #D3D3D3;
    border: none;
    border-radius: 12px;
    width: 100%;
}

input[type="submit"] {
    padding: 5px 40px;
    background-color: #BEA52A;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    display: block;
    margin: auto;
    height: 30px;

}

input[type="submit"]:hover {
    background-color: #999666;
    cursor: pointer;
}


.btnInvitado{
    text-decoration: none;
    background-color: #BEA52A;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 12px;
    display: block;
    margin: auto;
    height: 20px;
    text-align: center;
    font-family: 'Calibri';
    width: 150px;
   padding: 5px;

}