.container-nav{
    position: fixed;
    width: 100%;
}

a {
    text-decoration: none;
}

.iconStyle{
    padding-left: 10px;
    padding-right: 10px;
   
}

ul {
    list-style-type: none;
    padding: 0;
}

ul.top-nav {
    float: left;
    background-color: #679370;
    width: 100%;
    height: inherit;
    padding: 0;
    margin: 0;
}

li.top-nav-item {
    float:left;
    width: 18%;
    display: block;
    font-family: 'Calibri';
    color: white;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid white;
}

.top-nav-item-salir{
    float:left;
    width: 10%;
    display: block;
    font-family: 'Calibri';
    color: white;
    text-align: center;
    box-sizing: border-box;
    border-left: 1px solid white;
}

li.top-nav-item:hover, .top-nav-item-salir:hover {
    background-color: #477551;
    cursor: pointer;
}

a.top-nav-link {
    color: white;
    display: block;
    padding: 10px;
}

ul.drop-down-list {
    width: 17%;
    padding: 0 5px;
    position: absolute;
    display: none;
    background-color: white;
    box-shadow: 2px 3px 10px 1px #BBBBBB;
}

li.drop-down-list-item {
    padding: 5px;
    border-top: 1px solid gray;
    color: gray;
}

li.drop-down-list-item:hover {
    background-color: #EEEEEE;
    cursor: pointer;
}

li.first-item {
    border: none;
}

i.fa-caret-down, i.fa-cloud-download, i.fa-bar-chart {
    padding: 0 20px;
}

/*  ===================================  BARRA VERDE ================================  */

div.green-bar {
    height: 15px;
    width: 100%;
    background-color: #679370;
    display: block;
}

/*  ============================= TITULO E IMAGENES ================================  */


table.title-bar-container {
    height: 50px;
    width: 100%;
    background-color: white;
    padding: 3px;
    box-sizing: border-box;
}

table.title-bar-container tbody {
    height: inherit;
}

tr.title-bar, td.logo-container {
    height: inherit;
    box-sizing: border-box;
}

img.logo {
    height: 100%;
    width: auto;
}

tr.title-bar{
    text-align: center;
}

/*  ======================= BARRAS VERDES DESPLEGABLES  ==========================  */

nav.top-nav-container {
    width: 100%;
    height: 40px;
}


/*   ====================== IMEGENES INVITADO ===========================

/*
.imagenhome{
    width: 800px;
    text-align: center;
}
*/

.containerImg{
    text-align: center;
}

.imagenTest{
    width: 800px;
    text-align: center;
}



